* {
  border-radius: 0;
  font-family: "PlemolJP Console NF";
  font-weight: bold;
}
window#waybar {
  background: #2d353b;
  border: 2px solid #83c092;
}
window#waybar.hidden {
  opacity: 0.2;
}
/* modules left */
#custom-os_icon {
  font-size: 24px;
  color: #7fbbb3;
  background: transparent;
  margin-left: 15px;
  margin-right: 10px;
}
#workspaces button.active {
  font-size: 12px;
  color: #2d353b;
  background: #a7c080;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
#workspaces button {
  font-size: 12px;
  color: #2d353b;
  background: #7fbbb3;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
#workspaces button.empty {
  font-size: 12px;
  color: #2d353b;
  background: #7a8478;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
#workspaces button.empty.active {
  font-size: 12px;
  color: #2d353b;
  background: #a7c080;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
#workspaces button.urgent {
  font-size: 12px;
  color: #2d353b;
  background: #e67e80;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
#window {
  font-size: 14px;
  color: #d3c6aa;
  background: transparent;
  margin-left: 7.5px;
}
/* modules right */
#custom-media {
  font-size: 12px;
  color: #d3c6aa;
  background: transparent;
  margin-right: 7.5px;
}
#cpu {
  font-size: 14px;
  color: #d3c6aa;
  background: transparent;
  margin-right: 7.5px;
}
#temperature {
  font-size: 14px;
  color: #d3c6aa;
  background: transparent;
  margin-right: 7.5px;
}
#custom-gpu {
  font-size: 14px;
  color: #d3c6aa;
  background: transparent;
  margin-right: 7.5px;
}
#custom-gpu-temperature {
  font-size: 14px;
  color: #d3c6aa;
  background: transparent;
  margin-right: 7.5px;
}
#memory {
  font-size: 14px;
  color: #d3c6aa;
  background: transparent;
  margin-right: 7.5px;
}
#network {
  font-size: 14px;
  color: #d3c6aa;
  background: transparent;
  margin-right: 7.5px;
}
#pulseaudio {
  font-size: 14px;
  color: #d3c6aa;
  background: transparent;
  margin-right: 7.5px;
}
#clock {
  font-size: 14px;
  color: #d3c6aa;
  background: transparent;
  margin-right: 10px;
}
#custom-recorder-hdmi,
#custom-recorder-dp-3,
#custom-recorder-dp-2 {
  color: #e67e80;
  min-width: 20px;
  animation: blink 2s infinite;
}
@keyframes blink {
  50% {
    opacity: 0.5;
  }
}
