# IGNORE DIRECTORY
configs/glzr/zebar/tmp-*
configs/go/
configs/scoop/
configs/vim/autoload/
configs/vim/plugged/
configs/wakatime/
# IGNORE FILE
configs/gh/hosts.yml
configs/github-copilot/apps.json
configs/github-copilot/versions.json
configs/lf/files
configs/nvim/lazy-lock.json
result
