# IGNORE DIRECTORY
configs/go/
configs/glzr/zebar/tmp-*
configs/lf/lf/
configs/scoop
configs/vim/autoload/
configs/vim/undo
configs/vim/viminfo
configs/wakatime/
configs/vim/plugged/
.claude/
# IGNORE FILE
configs/gh/hosts.yml
configs/github-copilot/apps.json
configs/github-copilot/versions.json
configs/nvim/lazy-lock.json
result
.DS_Store
*.log
