window {
  font-family: "plemoljp-nf";
  font-weight: bold;
  margin: 0px;
  border-radius: 10px;
  background-color: rgba(45, 53, 59, 0.9);
}

#input {
  all: unset;
  padding: 2px;
  border-radius: 6px;
  margin: 5px;
  border: none;
  color: #d3c6aa;
  background-color: rgba(211, 198, 170, 0.2);
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #d3c6aa;
}

#entry {
  border: none;
}

#entry:focus {
  border: none;
}

#entry:selected {
  background-color: rgba(131, 192, 146, 0.2);
  border-radius: 5px;
  border: none;
}
